@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:wght@300&family=Rubik+Distressed&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* ----------------------------body---------------------------- */
body {
    background: rgb(10, 10, 10);
    background: linear-gradient(0deg, rgb(29, 31, 31) 0%, rgb(0, 0, 0) 100%);
}
/* ----------------------------nav--------------------------- */
nav{
    background-color: #333333;
    position: sticky;
    top: 0px;
    z-index: 50;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.active{
    color: #000000;
}
/*---------------------------------------baner-----------------------------  */
.banner{
    background-image:url(../media/banner-animes.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}
.title {
    font-family: "Rubik Distressed";
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    background-color: #333333;
}
/* ---------------------------------videos-------------------------------------- */
.border-iframe{
    margin-left: 400px;
    margin-top: 25px;
    margin-bottom: 100px;

}
.border-iframe iframe{
    border-radius: 10px;
    width: 560px;
    height: 315px;
}
/* --------------------------------gif---------------------------------------------- */
.border-image img{
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.border-image img{
    border-radius: 10px;
}
/* -------------------------------------footer--------------------------------------------- */
footer{
    text-align: center;
    font-family: "inter";
    font-size: 16px;
    font-weight: 300;
    color: #000;
}
/* ---------------------------------------categoria------------------------------------------ */
.categoria {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.categoria img {
    height: 300px;
    width: 200px;
    border: 3px solid #fff;
}
#grilla2 {
    display: grid;
    grid-template-areas:"col1 col2 col3 col4"
                        "col5 col6 col7 col8";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2 ,1fr);
    gap: 10px;
    margin: 20px;
}
.col1 {grid-area: col1;}
.col2 {grid-area: col2;}
.col3 {grid-area: col3;}
.col4 {grid-area: col4;}
.col5 {grid-area: col5;}
.col6 {grid-area: col6;}
.col7 {grid-area: col7;}
.col8 {grid-area: col8;}
/* ---------------------------------------------inicio-------------------------------------------------- */
.idea {
    background-image: url(/media/idea2.jpg);
    width: 100%;
    height: 500px;
}
.idea img {
    width: 600px;
    height: 400px;
    margin-left: 400px;
    margin-top: 25px;
    border: 5px;
    border-color: #fff;
    border-style: solid;
}
#grilla {
    display: grid;
    grid-template-areas:"recomendaciones  linea   linea"
                        "col1 col2 col3"
                        "popular lineaa  lineaa"
                        "col4 col5 col6";
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 250px;
}
.col1 {grid-area: col1;}
.col2 {grid-area: col2;}
.col3 {grid-area: col3;}
.col4 {grid-area: col4;}
.col5 {grid-area: col5;}
.col6 {grid-area: col6;}
.gradiente {
    grid-area: linea;
    height: 5px;
    width: 120%;
    background: linear-gradient(0deg,#fab818,#ef4323);
    display: flex;
    align-self: flex-end;
    position: relative;
    top: -33px;
    right: 180px;
}
.gradientee {
    grid-area: lineaa;
    height: 5px;
    width: 124%;
    background: linear-gradient(0deg,#213944,#2abdbb);
    display: flex;
    align-self: flex-end;
    position: relative;
    top: -33px;
    right: 220px;
}
.recomendaciones {
    grid-area: recomendaciones;
    font-family: "Rubik Distressed";
    width: 300;
    color: #fff;
    margin: 5%;
    margin-top: 90px;
}
.lo__mas__popular {
    grid-area: popular;
    font-family: "Rubik Distressed";
    width: 300;
    color: #fff;
    margin: 5%;

}
.image-recomendaciones {
    display:flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin-right: 10px;
    margin-left: 100px;

}
.image-recomendaciones img {
    /* margin-right: 10px;
    margin-left: 130px; */
    margin-bottom: 25px;
    border: 2px;
    border-color: #fff;
    border-style: solid;
}
/* ----------------------------------contacto---------------------------------------------- */
#formulario input {
    display: block;
    width: 300px;
    height: 30px;
    margin: 8px;
    padding: 10px;
    border: 2px;
    border-color:#1568a7;
    border-style: solid;
    font-size: 18px;
}
#formulario textarea {
    resize: none;
    width: 300px;
    height: 100px;
    margin: 8px;
    padding: 10px;
    font-size: 18px;
    border: 3px;
    border-color: #1568a7;
    border-style: solid;

}
/* ------------------------------tablet--------------------------------------- */
@media screen and (max-width: 1024px) {
    .image-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-inicio img {
        width: 500px;
        height: 300px;
        margin-left: 0px;
        border: 5px solid #000;
    }
    .separador {
        width: 1000px;
        height: 100px;
        display: inline;
        margin-bottom: 90px;
    }
    .recomendaciones {
        font-family: "lobster", sans-serif;
        font-size: 26px;
        width: 300;
        color: #1568a7;
        margin: 5%;
        margin-top: -100px;
    }
    .image-recomendaciones {
        display: inline-flex;
        justify-content: center;
        width: 300px;
        height: 300px;
    }
    .image-recomendaciones img {
        margin-right: 10px;
        margin-left: 130px;
        margin-bottom: 25px;
        border: 5px solid #000;
    }
    .categoria {
        margin-top: 50px;
        margin-bottom: 100px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        height: 300px;
    }
    .categoria img {
        margin-right: 10px;
        display: inline;
        border: 3px solid #000;
        height: 400px;
        width: 200px;
    }
    .categoria div {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
}
/* ------------------------------celular--------------------------------------- */
@media screen and (max-width: 500px) {
    .image-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-inicio img {
        width: 400px;
        height: 200px;
        margin-left: 0px;
        border: 3px solid #000;
    }
    .separador {
        width: 500px;
        height: 50px;
        display: inline;
        margin-bottom: 90px;
    }
    .recomendaciones {
        font-family: "lobster", sans-serif;
        font-size: 18px;
        width: 300;
        color: #1568a7;
        margin: 5%;
        margin-top: -100px;
    }
    .image-recomendaciones {
        display: inline-flex;
        justify-content: center;
        width: 100px;
        height: 200px;
        margin-left: -30px;
        margin-right: 20px;
    }
    .image-recomendaciones img {
        /* margin-right: 20px; */
        /* margin-left: 20px; */
        margin-bottom: 25px;
        border: 3px solid #000;
    }
    .categoria {
        margin-top: -50px;
        margin-left: 30px;
        margin-bottom: 50px;
        /* display: inline-flex;
        justify-content: center;
        flex-direction: column; */


    }
    .categoria img {
        margin-right: 50px;
        display: inline-flex;
        border: 3px solid #000;
        height: 200px;
        width: 150px;
    }
    .categoria div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul li a{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }
    nav ul li{
        display: inline;
        margin-right: 20px;
    }
    nav ul{
        text-align: center;
    }
    nav{
        background-color: #333333;
        position: sticky;
        top: 0px;
        height: 25px;
        width: 500px;
    }
    .active{
        color:rgb(224, 11, 153);
    }
    .banner{
        background-image:url(../media/banner-animes.jpg);
        width: 100%;
        height: 100px;
        background-position-y: center;
    }

    .banner p {
        font-family:"rubik";
        font-size: 42px;
        font-weight: 300;
        color: #1568a7;
        text-align: center;
        padding-top: 90px;
        text-shadow: 0px 0px 5px #000;
    }
    #grilla2 {
        display: grid;
        grid-template-areas:". col1 col2 ."
                            ". col3 col4 ."
                            ". col5 col6 ."
                            ". col7 col8 .";
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(2 ,1fr); */
        gap: 10px;
        margin: 20px;
    }
    .col1 {
        grid-area: col1;
    }
    .col2 {
        grid-area: col2;
    }
    .col3 {
        grid-area: col3;
    }
    .col4 {
        grid-area: col4;
    }
    .col5 {
        grid-area: col5;
    }
    .col6 {
        grid-area: col6;
    }
    .col7 {
        grid-area: col7;
    }
    .col8 {
        grid-area: col8;
    }

    .border-iframe{
        margin-left: 10px;
        margin-top: 25px;
        margin-bottom: 100px;

    }
    .border-iframe iframe{
        border-radius: 10px;
        width: 480px;
        height: 300px;
    }
    .border-image img{
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .border-image img{
        border-radius: 10px;
        height: 400px;
        width: 300px;
   }


}
/* ----------------------------------------------------------------------------------- */


.card {
    position: relative;
    width: 300px;
    height: 400px;
    z-index: 1;
}

.card .face {
    position: absolute;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
    /* border-radius: 10px; */
    overflow: hidden;
    transition: .5s;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    /* box-shadow: 0px 5px 10px rgb(212, 23, 23); */
    /* background: #2abdbb; */
    /* width: 300px;
    height: 400px; */
}
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #fff;
    /* padding: 15px; */
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    /* box-shadow: 0 5px px rgb(212, 23, 23); */
}

.card .back h3 {
  position: relative;
  top: -150px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}