#grilla2 {
    display: grid;
    grid-template-areas:"col1 col2 col3 col4"
                        "col5 col6 col7 col8";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
    .col1 {grid-area: col1;}
    .col2 {grid-area: col2;}
    .col3 {grid-area: col3;}
    .col4 {grid-area: col4;}
    .col5 {grid-area: col5;}
    .col6 {grid-area: col6;}
    .col7 { grid-area: col7;}
    .col8 {grid-area: col8;}
    .categoria {
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        color: #fff;
        img{
            height: 300px;
            width: 200px;
            border: 3px solid #fff;
        }
    }
}
@media screen and (max-width: 500px){
        #grilla2 {
            display: grid;
            grid-template-areas:"col1 col2"
                                "col3 col4"
                                "col5 col6"
                                "col7 col8";
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin: 20px;
        }
        .col1 {grid-area: col1;}
        .col2 {grid-area: col2;}
        .col3 {grid-area: col3;}
        .col4 {grid-area: col4;}
        .col5 {grid-area: col5;}
        .col6 {grid-area: col6;}
        .col7 { grid-area: col7;}
        .col8 {grid-area: col8;}
        
    }