#griilla3 {
    display: grid;
    grid-template-areas:"col1";
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
    .grilla__formulario{grid-area: col1;}
    .formularioo {
        width: 500px;
        color: #fff;
    }
    @media all and (max-width:520px){
        .formularioo {
            width: 300px;
            color: #fff;
        }
    }
    @media all and (max-width: 320px){
        .formularioo {
            width: 200px;
            color: #fff;
        }
    }
}

 