#grilla {
    display: grid;
    grid-template-areas:"recomendaciones  linea   linea linea"
                        "col1 col2 col3 col4"
                        "popular lineaa  lineaa lineaa"
                        "col5 col6 col7 col8";
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    margin-bottom: 250px;
    .col1 {grid-area: col1;}
    .col2 {grid-area: col2;}
    .col3 {grid-area: col3;}
    .col4 {grid-area: col4;}
    .col5 {grid-area: col5;}
    .col6 {grid-area: col6;}
    .col7 {grid-area: col7;}
    .col8 {grid-area: col8;}
    .recomendaciones  {
        grid-area: recomendaciones;
        font-family: "Rubik Distressed";
        font-size: 26px;
        font-weight: 300;
        color: #fff;
        margin: 6%;
        margin-top: 90px;
    }
    .gradiente {
        grid-area: linea;
        height: 5px;
        width: 95%;
        background: linear-gradient(0deg,#fab818,#ef4323);
        display: flex;
        align-self: flex-end;
        position: relative;
        top: -33px;
    }
    .image-recomendaciones {
    display:flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin-right: 10px;
         img{
            margin-bottom: 25px;
            border: 2px;
            border-color: #fff;
            border-style: solid;
        }
    }
    .gradientee {
        @extend .gradiente;
        grid-area: lineaa;
        background: linear-gradient(0deg,#213944,#2abdbb);
    }
    .lo__mas__popular {
        grid-area: popular;
        font-family: "Rubik Distressed";
        font-size: 26px;
        width: 300;
        color: #fff;
        margin: 6%;
    }
    .cardd {
        position: relative;
        width: 300px;
        height: 400px;
        z-index: 1;
        background-color: none;
        .face {
            position: absolute;
            width: 300px;
            height: 400px;
            backface-visibility: hidden;
            overflow: hidden;
            transition: .5s;
        }
        .front{
            transform: perspective(600px) rotateY(0deg);
        }
        .back{
            transform: perspective(600px) rotateY(180deg);
            background-color: rgba(0, 0, 0, 0.521);
            color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align:center;
            p{
                color: #f3f3f3;
                font-size: 11px;
                width: 300;
            }
            h3{
                position: relative;
                top: -110px;
                color: #f3f3f3;
                text-decoration:underline;
            }
        }
        .categoria {
            display: flex;
            justify-content:center;
            flex-direction: column;
            align-items: center;
            color: #fff;
        }
        &:hover{
            .front{transform: perspective(600px) rotateY(180deg);}
            .back{transform: perspective(600px) rotateY(360deg);}
        }
    }
}
@media screen and (max-width: 500px){
    #grilla {
        display: grid;
        grid-template-areas:"recomendaciones linea"
                            "col1 col2"
                            "col3 col4"
                            "popular lineaa"
                            "col5 col6"
                            "col7 col8";
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        justify-items: center;
        align-items: center;

        .col1 {grid-area: col1;}
        .col2 {grid-area: col2;}
        .col3 {grid-area: col3;}
        .col4 {grid-area: col4;}
        .col5 {grid-area: col5;}
        .col6 {grid-area: col6;}
        .col7 {grid-area: col7;}
        .col8 {grid-area: col8;}

        .recomendaciones {
            grid-area: recomendaciones;
            font-family: "Rubik Distressed";
            font-size: 14px;
            font-weight: 300;
            color: #fff;
             margin-top: 20px;
             margin-right: 65px;
        }
        .gradiente {
            grid-area: linea;
            height: 4px;
            width: 130%;
            background: linear-gradient(0deg,#fab818,#ef4323);
            display: flex;
            align-self: flex-end;
            position: relative;
            margin-right: 88px;
            margin-top: 68px;
            
        }
        .image-recomendaciones {
            display: inline-flex;
            justify-content: center;
            width: 100px;
            height: 200px;
            margin-left: -30px;
            margin-right: 20px;
            img {
                margin-bottom: 25px;
                border: 3px solid #000;
            }
        }
        .gradientee {
            grid-area: lineaa;
            height: 4px;
            width: 135%;
            background: linear-gradient(0deg,#213944,#2abdbb);
            display: flex;
            align-self: flex-end;
            position: relative;
            margin-right: 105px;
            margin-top: 65px;
            
        }
        .lo__mas__popular {
            grid-area: popular;
            font-family: "Rubik Distressed";
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            margin-right: 75px;
            margin-top: 20px;
        }
        .cardd {
            position: relative;
            width: 200px;
            height: 300px;
            z-index: 1;
            background-color: none;
            .face {
                position: absolute;
                width: 200px;
                height: 300px;
                backface-visibility: hidden;
                overflow: hidden;
                transition: .5s;
            }
            .front{
                transform: perspective(600px) rotateY(0deg);
            }
            .back{
                transform: perspective(600px) rotateY(180deg);
                background-color: rgba(0, 0, 0, 0.521);
                color: #000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align:center;
                p{
                    color: #f3f3f3;
                    font-size: 8px;
                    font-weight: 500;
                }
                h3{
                    font-size: 14px;
                    font-weight: 500;
                    position: relative;
                    margin-top: 100px;
                    color: #f3f3f3;
                    text-decoration:underline;
                }
            }
            &:hover{
                .front{transform: perspective(600px) rotateY(180deg);}
                .back{transform: perspective(600px) rotateY(360deg);}
            }
        }
        .categoria {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                display: inline-flex;
                border: 3px solid #000;
                height: 200px;
                width: 150px;
            }
        }
    }   
}
@media screen and (max-width: 1024px){
    #grilla {
        display: grid;
        grid-template-areas:"recomendaciones linea"
                            "col1 col2"
                            "col3 col4"
                            "popular lineaa"
                            "col5 col6"
                            "col7 col8";
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        justify-items: center;
        align-items: center;
        .col1 {grid-area: col1;}
        .col2 {grid-area: col2;}
        .col3 {grid-area: col3;}
        .col4 {grid-area: col4;}
        .col5 {grid-area: col5;}
        .col6 {grid-area: col6;}
        .col7 {grid-area: col7;}
        .col8 {grid-area: col8;}

        .recomendaciones {
            grid-area: recomendaciones;
            font-family: "Rubik Distressed";
            font-size: 20px;
            font-weight: 300;
            color: #fff;
             margin-top: 20px;
             margin-right: 65px;
        }
        .gradiente {
            grid-area: linea;
            height: 4px;
            width: 130%;
            background: linear-gradient(0deg,#fab818,#ef4323);
            display: flex;
            align-self: flex-end;
            position: relative;
            margin-right: 150px;
            margin-top: 68px;
            
        }
        .image-recomendaciones {
            display: inline-flex;
            justify-content: center;
            width: 200px;
            height: 400px;
            margin-left: -30px;
            margin-right: 20px;
            img {
                margin-bottom: 25px;
                border: 3px solid #000;
            }
        }
        .gradientee {
            grid-area: lineaa;
            height: 4px;
            width: 135%;
            background: linear-gradient(0deg,#213944,#2abdbb);
            display: flex;
            align-self: flex-end;
            position: relative;
            margin-right: 165px;
            margin-top: 65px;
            
        }
        .lo__mas__popular {
            grid-area: popular;
            font-family: "Rubik Distressed";
            font-size: 20px;
            font-weight: 300;
            color: #fff;
            margin-right: 75px;
            margin-top: 20px;
        }
        .cardd {
            position: relative;
            width: 200px;
            height: 400px;
            z-index: 1;
            background-color: none;
            .face {
                position: absolute;
                width: 200px;
                height: 400px;
                backface-visibility: hidden;
                overflow: hidden;
                transition: .5s;
            }
            .front{
                transform: perspective(600px) rotateY(0deg);
            }
            .back{
                transform: perspective(600px) rotateY(180deg);
                background-color: rgba(0, 0, 0, 0.521);
                color: #000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align:center;
                p{
                    color: #f3f3f3;
                    font-size: 8px;
                    font-weight: 500;
                }
                h3{
                    font-size: 14px;
                    font-weight: 500;
                    position: relative;
                    margin-top: 100px;
                    color: #f3f3f3;
                    text-decoration:underline;
                }
            }
            &:hover{
                .front{transform: perspective(600px) rotateY(180deg);}
                .back{transform: perspective(600px) rotateY(360deg);}
            }
        }
        .categoria {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                display: inline-flex;
                border: 3px solid #000;
                height: 500px;
                width: 200px;
            }
        }
    }
}
